<div>

  <h3>Detalles del libro</h3>

  <div>

    <h4>{{this.oneBook.title}}</h4>
    <p>{{this.oneBook.description}}
    </p>
    <p>Autor: {{this.oneBook.author}}</p>

    <a href="/book/{{this.oneBook._id}}/edit">
      <button>Ir a editar</button>
    </a>

  </div>

</div>